<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 error</title>
    <link rel="stylesheet" href="/404.css">
</head>
<body>
    <header>
        <h1>404 page not found!</h1>
        <br>
        <h2>plz check the url</h2>
    </header>
    
</body>
</html>