<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
    <link rel="stylesheet" href="/about.css">
</head>
<body>
    <form action="/upload" method="post" enctype="multipart/form-data">
    <header>
        <div>
            <h1 class="welcome">welcome!</h1>
            <br>
            <ul>
                <li><a href="/home" id="home">Home</a></li>
                <li><a href="#" id="about">About</a></li>
                <li><a href="/contact" id="contact">Contact</a></li>
                <!-- <li><a href="#">Exit</a></li> -->
            </ul>
        </div>
    </header>
    <br><br><br><br><br>
    <main>       
        <div class="outer">
        <fieldset>
           <legend>About</legend> 
           <p> <span id="i">I</span>'ve developed a compact website leveraging js, Node.js, Express.js, and the EJS template engine. This website offers users the capability to upload PNG, JPEG, and JPG files, with a maximum file size limit of 2MB.<br>
            In addition to the file upload functionality, I've incorporated two global menus. The first menu, which you are currently exploring, provides information about the project. The second menu directs users to the 'Contact' section, where my contact details are readily available.
        <br>    This project encapsulates seamless file uploading and intuitive navigation, ensuring a user-friendly experience while facilitating easy communication.</p>           
        <br>    
        <h2 id="thankyou">THANKYOU!</h2>

        </fieldset>
        </div>
   
    </main>
    </form>
</body>
</html>