<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/err.css">    
</head>
<body>
    <form action="/home" method="get">
    <header>
        <div>
        <h1>Sorry File not submitted there is an error<br>please check weather you gave the follwing extension files: <span>png,jpeg,jpg</span></h1>
        <input type="submit" class="btn" name="Back" value="Back" />
        </div>  
    </header>  
    </form>
</body>
</html>