<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
</head>
<body>
        <section class="outer">
        <figcaption>
                <img src="../public/abstract-background-illustration-wallpaper-with-blue-light-color-blue-grid-mosaic-background-creative-design-templates-free-vector.jpg" width="200px" height="200px" alt="sathish resume">
        </figcaption>
            </section>
</body>
</html>